*~
*.os

# vim files
*.swp

# scons files
.matlab_vars_cache
.matlab_output
.sconf_temp/*
.sconsign.dblite
build/*
debug/*
+msndfile/*

msndfile-0.1*

# misc files
/releases/
graphics
*.expand
*.mex*
*.zip
*.log
*.pyc

# documentation output
doc/*.html
doc/*.pdf

# documentation intermediaries
doc/*.xml

# VS files
*.sln*
*.vcproj*
*.suo*
*.ncb
*.pdb
_UpgradeReport_Files
UpgradeLog*.XML
debug
release
Win
