*~
*.os

# vim files
*.swp

# scons files
.matlab_vars_cache
.matlab_output
.sconf_temp/*
.sconsign.dblite
config.log
build/*
debug/*

msndfile-0.1*

# misc files
graphics
*.expand
*.mex*
*.zip

# VS files
msndfile.sln
msndfile.vcproj*
msndfile.suo
msndfile.ncb
_UpgradeReport_Files
UpgradeLog.XML
debug
release
Win
